/* elemnet selectors */
h1 {
    color: crimson;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
}

h2 {
    color: crimson;
    font-family:Arial, Helvetica, sans-serif
}

p {
    color:black;
    background-color: dimgray;
    font-family: fantasy;
}

ol {
    color:black;
    outline-color: black;
    background-color:gray;
}

body {
    background-color: black;
}
/* class selector */
.form {
    font-family: 'Times New Roman', Times, serif;
    color: crimson;
}
/* id selector */
#table {
    background-color: dimgray;
    color:black;
    font-family: cursive;
}